<section class="presentation">
    <h3 class="pre-title">The <br>world’s <br>most </h3>
    <h1 class="title">Extra <br>Ordinary <br>Places </h1>
    <div class="search-bar">
        <app-search></app-search>
    </div>
</section>
<section class="experiences">
    <h2 class="title">
        <img
        class="brand-element"
        src="assets/img/brand-element-2.svg"
        alt="brand-element"
        >
        Top rated <br> experiences 
    </h2>
    <div class="content">
        <ng-container
        *ngIf="{
          stats: stats$ | async,
          journeys: journeys$ | async
        } as state"
        >
            <app-tabs
            *ngIf="state.stats?.status == 'success'; else loader"
            (onTabSelect)="onTabSelect($event)"
            >
                <app-tab
                *ngFor="let continent of state.stats?.data!.continents"
                [title]="continent"
                >
                <app-carousel *ngIf="state.journeys?.status == 'success'; else loader">
                    <app-carousel-item *ngFor="let journey of selectJourneys(state.journeys?.data!, continent)?.journeys">
                        <div class="card">
                            <app-tour-card
                            [journey]="journey"
                            (click)="onJourneyClick(journey)"
                            ></app-tour-card>
                        </div>
                    </app-carousel-item>
                </app-carousel>
                </app-tab>
            </app-tabs>
            <ng-template #loader>
                <div class="skeleton-loader">
                    <div class="tabs" *ngIf="state.stats?.status != 'success'">
                        <div class="tab" *ngFor="let tab of [].constructor(6)">
                            <ngx-skeleton-loader
                            [theme]="{
                            'height': '45px',
                            'background-color': 'rgba(165, 165, 165, 0.2)'
                            }"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card" *ngFor="let tab of [].constructor(5)">
                            <ngx-skeleton-loader
                            [theme]="{
                            'width': '350px',
                            'height': '560px',
                            'background-color': 'rgba(165, 165, 165, 0.2)'
                            }"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
</section>
<section class="luxury-packages" *ngIf="packages$ | async as packages">
    <ng-container *ngIf="packages.status == 'success'; else packagesLoader">
        <div class="content-desktop" *ngIf="media.isActive('gt-sm')">
            <div class="column">
                <div class="heading">
                    <h2 class="title">Luxury packages</h2>
                    <div class="view-all">
                        <app-button
                        text="View all"
                        theme="dark"
                        ></app-button>
                    </div>
                </div>
                <app-package-card [packageStats]="packages.data[0]"></app-package-card>
            </div>
            <div class="column">
                <ng-container *ngFor="let package of packages.data.slice(1, 3)">
                    <app-package-card [packageStats]="package"></app-package-card>
                </ng-container>
            </div>
            <div class="column">
                <ng-container *ngFor="let package of packages.data.slice(3, 5)">
                    <app-package-card [packageStats]="package"></app-package-card>
                </ng-container>
            </div>
        </div>
        <div class="content-mobile" *ngIf="media.isActive('lt-md')">
            <div class="heading">
                <h2 class="title">Luxury packages</h2>
                <div class="view-all">
                    <app-button
                    text="View all"
                    theme="dark"
                    ></app-button>
                </div>
            </div>
            <app-carousel>
                <app-carousel-item *ngFor="let package of packages.data">
                    <app-package-card [packageStats]="package"></app-package-card>
                </app-carousel-item>
            </app-carousel>
        </div>
    </ng-container>
    <ng-template #packagesLoader>
        Packages loading..
    </ng-template>
</section>