<section class="presentation">
    <h3 class="pre-title">The <br>world’s <br>most </h3>
    <h1 class="title">Extra <br>Ordinary <br>Places </h1>
    <div class="search-bar">
        <app-search></app-search>
    </div>
</section>
<section class="experiences">
    <h2 class="title">
        <img
        class="brand-element"
        src="assets/img/brand-element-2.svg"
        alt="brand-element"
        >
        Top rated <br> experiences
    </h2>
    <div class="content">
        <app-tabs>
            <app-tab
            *ngFor="let tab of tabs"
            [title]="tab.title"
            >
            <app-carousel>
                <app-carousel-item>
                    <app-tour-card></app-tour-card>
                </app-carousel-item>
                <app-carousel-item>
                    <app-tour-card></app-tour-card>
                </app-carousel-item>
                <app-carousel-item>
                    <app-tour-card></app-tour-card>
                </app-carousel-item>
            </app-carousel>
            </app-tab>
        </app-tabs>
    </div>
</section>