@use "src/assets/scss/breakpoints";
@use "src/assets/scss/colors";

.presentation {
  padding: 100px 7%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(226, 211, 206, 0) 70%,
      rgba(226, 211, 206, 0.71) 87.71%,
      colors.$color-tertiary 100%
    ),
    url("/assets/img/sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pre-title {
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;

    @include breakpoints.tablet {
      font-size: 1.5em;
    }

    @include breakpoints.new(600px) {
      font-size: 1.3em;
    }

    @include breakpoints.mobile {
      font-size: 1.2em;
    }
  }

  .title {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 10em;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 70%;

    @include breakpoints.tablet {
      font-size: 7em;
    }

    @include breakpoints.new(600px) {
      line-height: 85%;
      font-size: 5em;
    }

    @include breakpoints.mobile {
      margin-top: 25px;
      font-size: 4em;
    }

    @include breakpoints.new(350px) {
      font-size: 3.5em;
    }
  }

  .search-bar {
    margin-top: 40px;
    width: 100%;
  }
}

.experiences {
  padding: 45px 7%;
  background: colors.$color-tertiary;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    position: relative;
    transform-style: preserve-3d;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 3.75em;
    text-align: center;
    margin-bottom: 70px;

    .brand-element {
      position: absolute;
      top: -65px;
      right: 50%;
      margin-right: -65px;
      width: 135px;
      transform: translateZ(-10px);
    }
  }

  .content {
    width: 100%;

    .card {
      width: 350px;
    }
  }

  .skeleton-loader {
    .tabs {
      display: flex;
      overflow: hidden;
      gap: 20px;

      .tab {
        min-width: 125px;
        flex: 1;
      }
    }

    .cards {
      display: flex;
      overflow: hidden;
      gap: 20px;

      .card {
        width: 350px;
      }
    }
  }
}

.luxury-packages {
  padding: 100px 7%;
  background: linear-gradient(
    180deg,
    #e2d3ce 0%,
    #c9c8d8 30.73%,
    #d4d8c6 59.37%,
    #e2d3ce 100%
  );

  .content-desktop {
    display: flex;
    justify-content: space-evenly;

    .column:nth-child(1) {
      .heading {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        height: 510px;
        flex-basis: 350px;

        .title {
          font-size: 3.75rem;
          font-weight: normal;
          margin-bottom: 10px;
        }

        .view-all {
          width: 50%;
        }
      }
    }

    .column:nth-child(2) {
      margin-top: 50px;

      @include breakpoints.new(1300px) {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
      }
    }

    .column:nth-child(3) {
      @include breakpoints.new(1300px) {
        display: flex;
        justify-content: space-evenly;
        flex-basis: 100%;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 35px;

      @include breakpoints.new(1300px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    @include breakpoints.new(1350px) {
      justify-content: flex-start;
      gap: 35px;
    }

    @include breakpoints.new(1300px) {
      flex-wrap: wrap;
    }
  }

  .content-mobile {
    display: flex;
    flex-direction: column;

    .heading {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      .title {
        flex-basis: 40%;
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: normal;
      }

      .view-all {
        margin-top: auto;
        width: 150px;
      }
    }
  }
}
