<section class="presentation">
    <h3 class="pre-title">The <br>world’s <br>most </h3>
    <h1 class="title">Extra <br>Ordinary <br>Places </h1>
    <div class="search-bar">
        <app-search></app-search>
    </div>
</section>
<section class="experiences">
    <h2 class="title">
        <img
        class="brand-element"
        src="assets/img/brand-element-2.svg"
        alt="brand-element"
        >
        Top rated <br> experiences 
    </h2>
    <div class="content">
        <ng-container
        *ngIf="{
          stats: {
            status: (statsStatus$ | async),
            data: (statsData$ | async),
            error: (statsError$ | async)
          },
          rated: {
            status: (journeysRatedStatus$ | async),
            data: (journeysRatedData$ | async),
            error: (journeysRatedError$ | async)
          }
        } as state"
        >
            <app-tabs
            *ngIf="state.stats.status == 'success'; else loader"
            (onTabSelect)="onTabSelect($event)"
            >
                <app-tab
                *ngFor="let continent of state.stats.data!.continents"
                [title]="continent"
                >
                <app-carousel *ngIf="state.rated.status == 'success'; else loader">
                    <app-carousel-item *ngFor="let journey of getJourneysList(state.rated.data!, continent)?.journeys">
                        <app-tour-card></app-tour-card>
                    </app-carousel-item>
                </app-carousel>
                </app-tab>
            </app-tabs>
            <ng-template #loader>
                <div class="skeleton-loader">
                    <div class="loader-heading" *ngIf="state.stats.status != 'success'">
                        <div class="loader-rect"></div>
                        <div class="loader-rect"></div>
                        <div class="loader-rect"></div>
                        <div class="loader-rect"></div>
                        <div class="loader-rect"></div>
                        <div class="loader-rect"></div>
                    </div>
                    <div class="loader-body">
                        <div class="loader-rect card"></div>
                        <div class="loader-rect card"></div>
                        <div class="loader-rect card"></div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
</section>
<section class="luxury-packages">
    <div class="content-desktop" *ngIf="media.isActive('gt-sm')">
        <div class="column">
            <div class="heading">
                <h2 class="title">Luxury packages</h2>
                <div class="view-all">
                    <app-button
                    text="View all"
                    ></app-button>
                </div>
            </div>
            <app-package-card></app-package-card>
        </div>
        <div class="column">
            <app-package-card></app-package-card>
            <app-package-card></app-package-card>
        </div>
        <div class="column">
            <app-package-card></app-package-card>
            <app-package-card></app-package-card>
        </div>
    </div>
    <div class="content-mobile" *ngIf="media.isActive('lt-md')">
        <div class="heading">
            <h2 class="title">Luxury packages</h2>
            <div class="view-all">
                <app-button
                text="View all"
                ></app-button>
            </div>
        </div>
        <app-carousel>
            <app-carousel-item>
                <app-package-card></app-package-card>
            </app-carousel-item>
            <app-carousel-item>
                <app-package-card></app-package-card>
            </app-carousel-item>
            <app-carousel-item>
                <app-package-card></app-package-card>
            </app-carousel-item>
        </app-carousel>
    </div>
</section>