@use "src/assets/scss/colors";
@use "src/assets/scss/typography";

.textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid colors.$color-tertiary;
  padding: 25px 40px;
  font-size: 0.875rem;
  font-family: typography.$font-secondary;
  font-weight: normal;

  &:focus,
  &:hover {
    outline: none;
  }
}
