<div class="container">
    <div class="decoration">
        <div class="decorative-button">
            <app-button
            variant="decorative-alternative"
            text="Find your journey"
            ></app-button>
        </div>
    </div>
    <div class="content">
        <div class="parameter destination">
            <img
            src="/assets/img/destination.svg"
            class="parameter-icon destination-icon"
            alt="destination"
            >
            <div>
                <h4 class="option">Destination</h4>
                <button class="select">Where are you going?</button>
            </div>
        </div>
        <div class="parameter travel-type">
            <img
            src="/assets/img/travel.svg"
            class="parameter-icon"
            alt="destination"
            >
            <div>
                <h4 class="option">Travel type</h4>
                <button class="select">Adventure Travel</button>
            </div>
        </div>
        <div class="parameter date">
            <img
            src="/assets/img/calendar.svg"
            class="parameter-icon"
            alt="destination"
            >
            <div>
                <h4 class="option">When</h4>
                <button class="select">14 Dec 2022</button>
            </div>
        </div>
        <div class="parameter travellers">
            <img
            src="/assets/img/travellers.svg"
            class="parameter-icon"
            alt="destination"
            >
            <div>
                <h4 class="option">Travellers</h4>
                <button class="select">2 Persons</button>
            </div>
        </div>
        <div class="find-button">
            <app-button
            variant="search"
            text="Find"
            ></app-button>
        </div>
    </div>
</div>