<header class="header">
    <div class="header-content-desktop" *ngIf="media.isActive('gt-sm')">
        <div class="header-logo">
            <img class="logo" src="assets/img/logo.svg" alt="logo">
        </div>
        <nav class="header-nav">
            <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="/trips" class="nav-link">Luxury trips</a>
            <a routerLink="/booking" class="nav-link">Book with us</a>
            <a class="nav-link">Why Lux Trips</a>
            <a routerLink="/contact" class="nav-link">Contact</a>
            <a class="nav-link">Client area</a>
        </nav>
        <div class="header-contact">
            <app-button variant="decorative" text="Call me back"></app-button>
        </div>
    </div>
    <div class="header-content-mobile" *ngIf="media.isActive('lt-md')">
        <div class="header-contact">
            <app-button text="Call me" theme="dark"></app-button>
        </div>
        <div class="header-logo">
            <img class="logo" src="assets/img/logo.svg" alt="logo">
        </div>
        <div class="header-menu">
            <img
            (click)="toggleSidebar()"
            class="menu" 
            src="assets/img/menu.svg"
            alt="menu"
            >
        </div>
    </div>
</header>

<div class="sidebar" *ngIf="!sidebarClosed && media.isActive('lt-md')" @slide>
    <nav class="sidebar-nav">
        <a routerLink="/" class="nav-link">Home</a>
        <a routerLink="/trips" class="nav-link">Luxury Trips</a>
        <a routerLink="/booking" class="nav-link">Book with us</a>
        <a class="nav-link">Why Lux Trips</a>
        <a routerLink="/contact" class="nav-link">Contact</a>
        <a class="nav-link">Client area</a>
    </nav>
</div>

<div
class="backdrop"
(click)="toggleSidebar()"
*ngIf="!sidebarClosed && media.isActive('lt-md')"
@backdropFade
></div>