@use "src/assets/scss/colors";

.carousel {
  position: relative;
  width: 100%;

  .carousel-items {
    overflow: auto;
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;

    &.no-overflow {
      overflow: hidden;
    }
  }

  .next-button {
    position: absolute;
    top: calc(50% - 75px);
    right: 15px;
    width: 75px;
    height: 75px;
    background: colors.$color-secondary;
    border: none;
    transform: rotate(45deg);

    .next-arrow {
      transform: rotate(-45deg);
    }
  }

  .indicators {
    width: 100%;
    height: 35px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .indicator {
      height: 3px;
      border-radius: 50px;
      width: 40px;
      background: white;

      &.item-visible {
        background: colors.$color-secondary;
      }
    }
  }
}
