<div class="tour-package-card">
    <div class="content">
        <h2 class="title">Best <br> winter <br> destinations</h2>    
        <div class="places">
            <div class="shell">
            </div>
            <div class="shell-inner"></div>
            <p class="places-title">
                <span class="places-count">34</span>
                <br>places <br>
                <img
                class="places-arrow"
                src="/assets/img/arrow-bold.svg"
                alt="arrow"
                >
            </p>
        </div> 
    </div>
</div>