<div class="tour-package-card">
    <img
    [src]="packageStats.photo.source"
    [alt]="packageStats.photo.alt"
    class="background-photo"
    >
    <div class="content">
        <h2 class="title">{{ packageStats.package }}</h2>    
        <div class="places">
            <div class="shell">
            </div>
            <div class="shell-inner"></div>
            <p class="places-title">
                <span class="places-count">{{ packageStats.count }}</span>
                <br>places <br>
                <img
                class="places-arrow"
                src="/assets/img/arrow-bold.svg"
                alt="arrow"
                >
            </p>
        </div> 
    </div>
</div>