<section class="journey">
    <ng-container *ngIf="journey$ | async as journey">
      <div class="heading" *ngIf="journey.status == 'success'; else loader">
        <h1 class="title">{{ journey.data.info.package }}</h1>
        <div class="card-wrapper">
          <app-tour-card
          [journey]="journey.data"
          [variant]="media.isActive('lt-sm') ? 'common' : 'expanded'"
          ></app-tour-card>
        </div>
      </div>
      <div class="content" *ngIf="journey.status == 'success'; else loader">
        <app-tabs>
          <app-tab
          *ngFor="let tab of tabs"
          [title]="tab.name"
          >
          <div [ngSwitch]="tab.name" class="tab-content">
            <div *ngSwitchCase="'Information'" class="information">
              Information
            </div>
            <div *ngSwitchCase="'Luxury Tour Plan'" class="tour-plan">
              Luxury Tour Plan
            </div>
            <div *ngSwitchCase="'Location'" class="location">
              <h2 class="title">Location</h2>
              <p class="description">{{ journey.data.location.description }}</p>
              <agm-map
              [latitude]="journey.data.location.latitude"
              [longitude]="journey.data.location.longitude"
              [styles]="styles"
              >
                <agm-marker
                [latitude]="journey.data.location.latitude"
                [longitude]="journey.data.location.longitude"
                ></agm-marker>
              </agm-map>
            </div>
            <div *ngSwitchCase="'Travel Tips'" class="tips">
              <h2 class="title">Travel Tips</h2>
              <div class="tip" *ngFor="let tip of journey.data.tips">
                <h2 class="name">{{ tip.title }}</h2>
                <p class="description">{{ tip.description }}</p>
              </div>
            </div>
            <div *ngSwitchCase="'Gallery'" class="gallery">
              Gallery
            </div>
            <div *ngSwitchCase="'Reviews'" class="reviews">
              Reviews
            </div>
            <div *ngSwitchCase="'Cancellation policy'" class="cancellation">
              <h2 class="title">Cancellation policy</h2>
              <h3 class="subtitle">You can cancel your purchase of a subscription service and request a refund within 14 days from the initial transaction date.</h3>
              <p class="text">The refund may be reduced pro-rata to reflect the use you have had of the service. This may show as two transactions in your account transaction history: a refund to your wallet of the full amount originally paid and then a debit of a charge for the period of the service you received.</p>
              <p class="text">If you take advantage of a free trial when you sign up to a service, the 14-day cancellation period will commence on the day we accept your order of the free trial and the duration of the free trial will be included in the 14-day period. For example, you sign up for a free trial which lasts 7 days and your wallet is debited for the subscription at the end of the trial, you will have 7 days after your wallet was debited to cancel.</p>
              <p class="text">The refund may be reduced pro-rata to reflect the use you have had of the service. This may show as two transactions in your account transaction history: a refund to your wallet of the full amount originally paid and then a debit of a charge for the period of the service you receiveNote: When you purchase a subscription service such as PlayStation®Plus, you agree to a rolling subscription with periodic billing (e.g. annual billing). You can stop making payments at any time by turning off auto-renewal but, beyond the initial 14-day cancellation period, you will not receive a refund for payments already made. When you turn off auto-renewal, your subscription will continue until the next payment is due, at which point it will end.</p>
              <h3 class="subtitle">Further Information</h3>
              <p class="text">We recommend that you take care when you top up your wallet or make a purchase on PlayStation™Store. A number of account features are available so you can keep track of your account activity.</p>
              <p class="text">To control the purchases made from the PlayStation™Store, via your account and console ensure you (i) use our password and passcode tools to control unauthorised log-in to and purchases via your account and (ii) if you have children, set up a separate account for each child and use our parental controls to limit their expenditure or prevent them shopping at all.</p>
            </div>
          </div>
          </app-tab>
        </app-tabs>
      </div>
      <ng-template #loader>
        <h1>Loading...</h1>
      </ng-template>
    </ng-container>
</section>