<div [ngSwitch]="variant" class="tour-card">
    <div
    *ngSwitchCase="'common'"
    class="tour-card-common"
    >
        <img
        [src]="journey.info.photo.source"
        [alt]="journey.info.photo.alt"
        class="background-photo"
        >
        <div class="container">
            <div class="content">
                <div class="location">
                    <img
                    class="icon"
                    src="/assets/img/location.svg"
                    alt="location"
                    >
                    <p class="destination">{{ journey.info.destination }}</p>
                </div>
                <h3 class="title">{{ journey.info.title }}</h3>
                <div class="price">
                    <p class="from">From</p>
                    <p class="value">€ {{ journey.info.prices.EUR }}</p>
                </div>
            </div>
            <div class="score">
                <p class="rating">{{ journey.reviews?.breakdown?.rating?.toFixed(1) || '4.0'}}</p>
                <div class="rating-scale">
                    <app-rating-scale [rating]="journey.reviews?.breakdown?.rating || 4.0"></app-rating-scale>
                </div>
            </div>
        </div>
    </div>
    <div
    *ngSwitchCase="'expanded'"
    class="tour-card-expanded"
    >
        <img
        [src]="journey.info.photo.source"
        [alt]="journey.info.photo.alt"
        class="background-photo"
        >
        <div class="container">
            <div class="descriptions">
                <div class="score">
                    <p class="rating">{{ journey.reviews?.breakdown?.rating?.toFixed(1) || '4.0' }}</p>
                    <div class="rating-scale">
                        <app-rating-scale [rating]="journey.reviews?.breakdown?.rating || 4.0"></app-rating-scale>
                    </div>
                </div>
                <div class="location">
                    <img
                    class="icon"
                    src="/assets/img/location.svg"
                    alt="location"
                    >
                    <p class="destination">{{ journey.info.destination }}</p>
                </div>
                <h3 class="title">{{ journey.info.title }}</h3>
            </div>
            <div class="price">
                <p class="from">From</p>
                <p class="value">€ {{ journey.info.prices.EUR }}</p>
            </div>
            <div class="customize">
                <app-button
                text="customize"
                ></app-button>
            </div>
        </div>
    </div>
</div>