<ng-container *ngIf="booking$ | async as booking">
  <div class="heading">
    <h1 class="title">Book {{ booking.data.name }}</h1>
  </div>
  <main class="booking">
    <div class="information">
      <img
      class="photo"
      [src]="booking.data.photo.source"
      [alt]="booking.data.photo.alt"
      >
      <div class="descriptions">
        <h2 class="short">{{ booking.data.descriptions.short }}</h2>
        <p
        *ngFor="let description of booking.data.descriptions.detailed"
        class="detailed"
        >{{ description }}</p>
      </div>
      <div class="advantages">
        <div
        *ngFor="let advantage of booking.data.advantages"
        class="advantage"
        >
          <img
          class="icon"
          [src]="advantage.icon.source"
          [alt]="advantage.icon.alt"
          >
          <h3 class="title">{{ advantage.title }}</h3>
        </div>
      </div>
    </div>
    <form action="" class="form">
      
    </form>
  </main>
</ng-container>