@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.heading {
  padding: 100px 7% 0;
  box-sizing: border-box;
  background-image: url("/assets/img/bg-top-contact.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 270px;

  .title {
    text-transform: capitalize;
    font-size: 3.75rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoints.new(450px) {
      font-size: 3rem;
    }
  }
}

.booking {
  margin-top: -40px;
  padding: 0 7% 50px;
  box-sizing: border-box;
  background-color: colors.$color-tertiary;
  display: flex;
  width: 100%;
  gap: 35px;

  .information {
    display: flex;
    flex-direction: column;
    width: 50%;

    .photo {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .descriptions {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      gap: 20px;

      .short {
        font-weight: normal;
        font-size: 2.5rem;
      }

      .detailed {
        font-family: typography.$font-secondary;
        font-weight: normal;
        font-size: 1.125rem;
      }
    }

    .advantages {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .advantage {
        display: flex;
        align-items: center;
        gap: 35px;

        .icon {
          width: 50px;
        }

        .title {
          font-family: typography.$font-secondary;
          font-weight: normal;
          font-size: 1.125rem;
          color: black;
        }

        .title-loader {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }

  .form {
    width: 50%;
    box-sizing: border-box;
    padding: 20px 5%;
    border-radius: 10px;
    background-color: white;
  }

  @include breakpoints.tablet {
    flex-wrap: wrap;

    .information {
      width: 100%;
    }

    .form {
      width: 100%;
    }
  }
}
