<div class="trips">
  <div class="heading">
    <h1 class="title">Luxury Trips</h1>
  </div>
  <main class="content" *ngIf="journeys$ | async as journeys">
    <div class="search">
      <app-search></app-search>
    </div>
    <div class="journeys">
      <ng-container *ngIf="journeys.status == 'success'; else cardsLoader">
        <div class="card" *ngFor="let journey of journeys.data">
          <app-tour-card
          (click)="toJourney(journey)"
          [journey]="journey"
          ></app-tour-card>
        </div>
      </ng-container>
    </div>
    <div class="load-more">
      <app-button
      variant="decorative-alternative"
      (click)="uploadJourneys()"
      text="Load more"
      ></app-button>
    </div>
    <ng-template #cardsLoader>
      <div class="card" *ngFor="let card of [].constructor(8)">
        <ngx-skeleton-loader
        [theme]="{
        'width': '100%',
        'height': '560px',
        'background-color': 'rgba(165, 165, 165, 0.2)'
        }"></ngx-skeleton-loader>
      </div>
    </ng-template>
  </main>
  <section class="newsletters">
    <app-newsletters></app-newsletters>
  </section>
</div>